/* Basic */
@font-face {
	font-family: "CMU";
	font-style: normal;
	src: url("https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font/font/Serif/cmunrm.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "CMU";
	font-weight: bold;
	src: url("https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font/font/Serif/cmunbx.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "CMU";
	font-style: italic;
	src: url("https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font/font/Serif/cmunti.woff") format("woff");
	font-display: swap;
}

html {
	font-family: "CMU", Georgia, serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

body {
    background: #ffffff;
    color: #333;
    font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;

	max-width: 42em;
    margin: 0 auto;

	text-align: justify;
	overflow: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

.container {
}

/* Headers */
h1 {
	font-size: 2.6667em; /* 48px/18px */
}

h2 {
    font-size: 1.3em;
	margin-bottom: 0;
}

h3 {
    font-size: 1.0em;
	margin-bottom: 0;
}

/* Links */

a {
    color: #1d60a3;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a:hover,
a:focus {
    border-bottom: 1px solid rgba(163, 29, 29, .5);
}

a:active {
    color: #a31d1d;
    opacity: 0.9;
    border-bottom: 1px solid rgba(163, 29, 29, .5);
}

/* Table */
.table-wrapper {
    overflow-x: auto;
}

table {
	margin: 1em auto;
	width: 95%;
    border-spacing: 0;
	border-collapse: collapse;
}

thead {
    border-bottom: thin solid #000000;
}

th, td {
    padding: 0.25em 0.25em;
}

caption {
	margin: 0 auto;
	font-style: italic;
}

/* Code */
pre {
    padding: 1em;
    background-color: #ffffff;
    max-width: 100%;
	white-space: pre-wrap;
	word-break: keep-all;
}

code,
pre,
kbd {
	font-family: 'Computer Modern Typewriter', monospace;
    line-height: 154%;
	text-align: left;
	font-size: 16px;
}

/* Styles */

blockquote {
    border-left: 2px solid #cccccc;
    padding: 0.1em 1em;
    margin-left: 0.75em;
    padding-right: 0.1em;
}

figcaption{
	font-style: italic;
}

footer.bq {
	font-style: normal;
	float: right;
	margin-right: 3em;

    border-top: none;
    margin-top: 1.2em;
}

p {
	text-indent: 0;
    margin-top: 0.5em;
	margin-bottom: 0;
}

p:not(:empty) + p:not(:empty) {
    margin-top: 0;
	text-indent: 2em;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
}

ul ol, ol ol, ul ul {
    margin: 0em 2em;
}

figcaption {
  display: block;
  color: grey;
  line-height: 1em; /* 24px/16px */
  margin-bottom: 1.5em; /* 24px/16px */
  font-weight: 200;
}

/* Header */

header {
    display: flex;
	align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: normal;
}

header h2 {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

header nav {
    margin-top: 3em;
    max-width: 100%;
    text-align: right;
    vertical-align: bottom;
    margin-bottom: 0;
}

header nav a {
    margin-left: 2em;
}

header a {
    color: #333;
}

.site-title {
	font-size: 2.0em;
    white-space: nowrap;
	font-weight: bold;
}

.site-header {
    border-bottom: thin solid #f1f1f1;
	margin-bottom: 2em;
}

/* Pages */
main h1 {
    margin-top: 1em;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.post-short-list:first-of-type {
    margin-top: 1em;
}

/* Articles */

article:not(:last-of-type) {
    padding-bottom: 1em;
}

.post-fist:not(:first-of-type):before,
.post-list:not(:last-of-type):after {
    display: block;
    content: "";
    width: 5em;
    height: 1px;
    margin: 0 auto;
	margin-top: 1em;
    background-color: #d1d1d1;
}

article header h1 {
    font-size: 1.35em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

article header h1 a {
    border: none;
    text-decoration: none;
    color: #333;
}

.article-info {
    font-size: 0.75em;
    color: grey;
    margin-top: 0.25em;
	text-align: left;
}

.post .article-info {
	margin-top: 2em;
}

.article-info a {
    color: grey;
}

.article-info a:hover {
    color: #a31d1d;
}

.post-short-list .article-info {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.article-taxonomies {
    display: inline;
}

.article-date {
    white-space: nowrap;
    font-size: 0.75em;
    color: grey;
    font-style: italic;
}

.article-categories {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.article-categories li {
    display: inline;
    margin-right: 1em;
}

.article-tags {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.article-tags li {
    display: inline;
    margin-right: 1em;
}

article img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 1rem auto 1rem;
}

article figure {
	max-width: 100%;
	display: block;
    height: auto;
    margin: 0 auto .5em;
}

.diptych figure {
	margin: 0;
}

article img + p:not(:empty),
article figure + p:not(:empty),
.diptych + p:not(:empty) {
	margin-top: 1em;
}

article p:not(:empty) + img,
article p:not(:empty) + figure,
article p:not(:empty) + .diptych {
	margin-top: 1em;
}

.content > figure:first-child,
.content > .diptych:first-child {
	margin-top: .5em;
}

.read-more {
	margin-top: auto;
	margin-bottom: 0;
	margin-left: auto;
    text-align: right;
	white-space: nowrap;
}

.post-list-footer {
    display: flex;
    justify-content: space-between;
	margin-top: 0.5em;
}

.divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: thin solid #f1f1f1;
    width: 25%;
    margin: 1em auto;
}

/* Other pages */
.terms {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.pagination {
    text-align: center;
}

.pagination-item {
    background: #fafafa;
    padding: 0.5em 0.75em;
}

.disabled {
    visibility: hidden;
}

.pagination-item a {
    color: #333333;
}

.pagination-item a:hover, .pagination-item   a:focus {
    color: #a31d1d;
    border-bottom: 0;
}

/* Footer */

footer {
    margin-top: 3em;
    font-size: 16px;
}

.site-footer {
    border-top: thin solid #f1f1f1;
    display: flex;
    justify-content: space-between;
	margin-top: 0.5em;
}

footer nav {
    max-width: 100%;
    text-align: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

footer nav a {
    margin-left: 2em;
}

footer a {
    color: #333;
}

/* Media Queries */

@media (max-width: 840px) {
    .main-wrapper {
        margin: 0;
        max-width: none;
        overflow-x: hidden;
        padding-left: 25px;
        padding-right: 25px;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .pagination-item {
        padding: 0.5em 0.5em;
        font-size: 14px;
    }

    header {
        display: block;
    }

    .site-header {
        text-align: center;
    }

    header nav {
        margin-top: 1em;
        max-width: 100%;
        text-align: center;
        background: #fafafa;
        padding: 0.5em 0;
    }

    header nav a:first-of-type {
        margin-left: 0;
    }

    header nav a {
        margin-left: 5%;
    }
}

.diptych {
	display: block;
	width: 89em;
	margin: 0 auto 0.5em;
	position: relative;
	right: 21.5em;
	overflow: auto;
}

.diptych img {
	height: auto;
	width: 42em;
	box-sizing: border-box;
	float: left;
	margin: 0 .25em 0em;
}

@media only screen and (max-width: 88em) {
	.diptych {
		width: 100%;
		position: static;
	}

	.diptych img {
		margin: 0 auto .5em;
	}
}
