/*- Custom style -*/

// -- Put custom style under this point -- //

* { 
	margin: 0;
	padding: 0;
}

.imgbox {
	display: grid;
	height: 100%;
}

.centre-fit {
	max-height: 100vh;
	margin: auto;
}

.page {
	height: 100vh;
	position: relative;
}

.wider {
	height: 100vh;
	position: relative;
	max-width: 80em;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.bl {
	position: absolute;
	bottom: 0;
	left: 0;
}

.br {
	position: absolute;
	bottom: 0;
	right: 0;
}

.diptychl {
	margin: 0;
	padding: 0;
	border: 0;
	padding-bottom: 1em;
	@media only screen and (min-width: 72em) {
		position: relative;
		right: 18em;
	}

}

.diptychr {
	max-width: 36em;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	@media only screen and (min-width: 72em) {
		position: relative;
		bottom: 36em;
		left: 18em;
		margin-bottom: -35em;
	}
}

.dpls {
	max-width: 24em;
	margin: 0;
	padding: 0;
	border: 0;
	padding-bottom: 1em;
	@media only screen and (min-width: 72em) {
		position: relative;
		right: 14em;
	}

}

.dprs {
	max-width: 24em;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	@media only screen and (min-width: 72em) {
		position: relative;
		bottom: 25em;
		left: 14em;
		margin-bottom: -23em;
	}
}
