<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
<head itemscope itemtype="https://schema.org/Blog">
    {{ block "head" . }}
        {{ partial "head.html" . }}
    {{ end }}
</head>
<body>
    <div class="container">
	<header class="site-header">
            {{ block "header" . }}
                {{ partial "header.html" . }}
            {{ end }}
        </header>
        <main id="main">
            {{ block "main" . }}{{ end }}
        </main>
        <footer class="site-footer">
            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </footer>
    </div>
</body>
</html>
