{{ define "main" }}

    <article class="post">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        {{ partial "articleInfoDate.html" . }}
        <div class="content">
            {{ .Content }}
        </div>
        {{ partial "articleInfoFull.html" . }}

		{{ with .Params.tootlink }}
			<div id="mastodon-comments">
			<h2>Comments</h2>
			<p>You can comment on this post by replying to <a href={{ . }}> this
		post.</a></p>
				<oom-comments mastodon={{ . }}>
			</br>
				</oom-comments>
			</div>
		{{ end }}

	<meta name="fediverse:creator" content="@mondoman712@toot.io">
    </article>

{{ end }}
