{{ define "main" }}

    <h1>{{ i18n .Title }}</h1>

	{{ range $term, $pages := .Site.Taxonomies.categories }}
		<h2 class="post-fist">
            <a href="{{ (print $.Data.Plural "/" $term) | absURL }}">
				{{ title $term }}
			</a>
		</h2>
		{{ range first 5 $pages }}
			{{ partial "postShortList.html" . }}
		{{ end }}
		{{ if (gt (len $pages) 5) }}
			<div class="read-more">
				<a href="{{ (print $.Data.Plural "/" $term) | absURL }}">
					See more
				</a>
			</div>
		{{ end }}
	{{ end }}
{{ end }}
