    {{ if .Params.date }}
	<div class="article-date">
		{{ with .Params.date }}<time datetime="{{ .Format "2006-01-02" }}">{{- .Format "02 Jan 2006" }}</time>{{ end }}
		{{- if .Params.modifications }}
			<span title="{{- range $k, $v := .Params.modifications }} {{ $k }}: {{ $v }}&#013;{{- end }}">
				{{ $dates := slice }}
				{{- range $k, $v := .Params.modifications -}}
					{{ $dates = append $k $dates }}
				{{- end -}}
				{{ $dates = $dates | collections.Reverse }}
				{{ with (index $dates 0) }} (last edit <time datetime="{{ . | time.Format "2006-01-02" -}}">{{ . | time.Format "02 Jan 2006" -}})</time>{{ end }}
			</span>
		{{- end -}}
	</div>
    {{ end }}
