{{ $permalinkurl := urls.Parse $.Page.Permalink }}
{{ $relpermalink := $permalinkurl.Path }}
{{ $pages := slice }}
{{- range .Site.RegularPages -}}
    {{- if strings.Contains .Content $relpermalink -}}
        {{ $pages = $pages | append . }}
    {{- end -}}
{{- end -}}
{{ with $pages }}
<section class="backlinks">
    <h3>Backlinks</h3>
    <div class="backlink-items">
    {{- range $pages -}}
        {{- if strings.Contains .Content $relpermalink -}}
        <div class="backlink-item"><a href="{{ .Permalink }}">{{ .Name }}</a></div>
        {{- end -}}
    {{- end -}}
    </div>
</section>
{{ end }}
