<!-- Basic stuff -->
<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="no-referrer-when-downgrade">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!-- title -->
<title itemprop="name">{{if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
<meta property="og:title" content="{{if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
<meta itemprop="name" content="{{if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
<meta name="application-name" content="{{if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

<!-- description -->
{{ $desc := .Site.Params.description -}}
{{ if .Params.description }}{{ $desc := .Params.description }}{{ end }}
<meta name="description" content="{{ $desc }}" />
<meta itemprop="description" content="{{ $desc }}" />
<meta property="og:description" content="{{ $desc }}" />

<!-- link tags -->
<base href="{{ .Permalink }}" />
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<link rel="me" href="https://toot.io/@mondoman712" />

<!-- rss & sitemap -->
<link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />
{{ with .OutputFormats.Get "RSS" }}
	<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
	<link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}

<!-- language tags -->
<meta property="og:locale" content="{{ .Language.Lang }}" />
<meta name="language" content="{{ .Language.LanguageName }}" />
{{ range .AllTranslations }}
	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" />
{{ end }}

<link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}">
<link rel="apple-touch-icon-precomposed" href="{{ "favicon.png" | absURL }}">

<!-- Search Engine Crawler Tags -->
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<!-- image tags --> <!-- TODO: add image
{{ with .Params.image }}
	<meta itemprop="image" content="{{ . | absURL }}" />
	<meta property="og:image" content="{{ . | absURL }}" />
{{ else }}
	<meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
	<meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
{{ end }}
-->

<!--
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font/fonts.css">
-->

<!-- date tag -->
<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

<style> {{ readFile "static/css/style.css" | safeCSS }} </style>
{{ if .Params.Dark }}
	<link rel="stylesheet" href="{{ "css/dark.css" | absURL }}?rnd={{ now.Unix }}" />
{{ end }}

{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}

{{ if isset .Params "tootlink" -}}
	<script type="module" src="../js/comments.js"></script>
	<link defer rel="stylesheet" href="../css/comments.css">
{{ end }}

<base href="{{ .Permalink }}" />
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<meta name="google-site-verification" content="iL6kgZOem7Wh12HPO2MFqCKL-KH5Jc7vJSdvVBDAZhQ" />

<!-- Article tags -->
<!-- <meta property="article:published_time" content="">
<meta property="article:modified_time" content="">
<meta property="article:tag" content="">
<meta property="article:publisher" content="https://www.facebook.com/XXX"> -->
