{{ define "main" }}

    <h1>{{ i18n .Title }}</h1>

	<p><i>This page is a work in progess</i></p><br/>

    <div class="article-info">
		{{ with .OutputFormats.Get "rss" -}}
			<a href="{{ .Permalink }}">RSS feed</a>
		{{ end }}
	</div>

	{{ $type := .Type }}
	{{ $.Scratch.Set "count" 1 }}

	<photo-grid>
		{{ range (where .Pages "Type" $type) }}
			{{ if (eq ($.Scratch.Get "count") 1) }}
				{{ $.Scratch.Set "count" 0 }}
					<!-- <h2 class="post-fist">{{ .Date.Format "2006" }}</h2> -->
				{{ end }}
			{{ end }}

			{{ $.Scratch.Set "count" 1 }}
				{{ range (sort (where .Pages "Type" $type) "Params.date" "desc").ByParam "Params.image" }}
					{{ if (ne .Params.hidden true) }}
						<a href="{{ .RelPermalink }}">
						{{ with .Resources.GetMatch (.Params.image) }}
							<img src="{{ .RelPermalink }}">
						{{ end }}
						</a>
					{{ end }}
		{{ end }}
	</photo-grid>

{{ end }}
