{{ define "main" }}

    <article class="photo">
		{{ $image := .Resources.Get (.Params.image) }}
		{{ with $image }}
			<a href="{{ .RelPermalink }}">
			<img src="{{ .RelPermalink }}"
				 height="{{ .Height }}"
				 width="{{ .Width }}"
		         {{- if or .Params.alt .Params.title }}
                 alt="{{ with .Params.alt }}{{ . }}{{ else }}{{ .Params.title }}{{ end }}"
			     {{ end }}
		    >
			</a>
		{{ end }}

        <header>
            <h1>{{ .Title }}</h1>
        </header>
		<div class="article-date"
			{{ with .Params.datePosted }} title="Posted {{ . | time.Format "02 Jan 2006" }}" {{ end }}
		>
			{{- .Params.date.Format "02 Jan 2006" }}
		</div>

        <div class="content">
            {{ .Content }}
        </div>

		<dl>
		{{ with .Params.metadata.camera }}<dt>Camera</dt><dd>{{ . }}</dd>{{ end }}
		{{ with .Params.metadata.lens }}<dt>Lens</dt><dd>{{ . }}</dd>{{ end }}
		{{ with .Params.metadata.film }}<dt>Film</dt><dd>{{ . }}</dd>{{ end }}
		{{ with .Params.metadata.location }}
		<dt>Location</dt><dd>{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e | markdownify }}{{ end }}</dd>
		{{ end }}
		</dl>

		{{ partial "backlinks" . }}

        {{ partial "articleInfoFull.html" . }}
    </article>

{{ end }}
