{{ define "main" }}

    <article class="photo">
		{{ $image := .Resources.Get (.Params.image) }}
			<a href="{{ $image.RelPermalink }}">
			<img src="{{ $image.RelPermalink }}"
				 height="{{ $image.Height }}"
				 width="{{ $image.Width }}"
		         {{- if or .Params.alt .Params.title }}
                 alt="{{ with .Params.alt | markdownify }}{{ . }}{{ else }}{{ .Params.title | markdownify }}{{ end }}"
			     {{ end }}
				 fetchpriority="high"
		    >
			</a>

        <header>
            <h1>{{ .Title | markdownify }}</h1>
        </header>
		<div class="article-date"
			{{ with .Params.datePosted }} title="Posted {{ . | time.Format "02 Jan 2006" }}" {{ end }}
		>
		{{ with .Params.date }}<time datetime="{{ .Format "2006-01-02" }}">{{- .Format "02 Jan 2006" }}</time>{{ end }}
		</div>

        <div class="content">
            {{ .Content }}
        </div>

		<dl>
		{{ with .Params.metadata.camera }}<dt>Camera</dt><dd>{{ . }}</dd>{{ end }}
		{{ with .Params.metadata.lens }}<dt>Lens</dt><dd>{{ . }}</dd>{{ end }}
		{{ with .Params.metadata.film }}<dt>Film</dt><dd>{{ . }}</dd>{{ end }}
		{{ with .Params.metadata.location }}
		<dt>Location</dt><dd>{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e | markdownify }}{{ end }}</dd>
		{{ end }}
		</dl>

		{{ partial "backlinks" . }}

        {{ partial "articleInfoFull.html" . }}
    </article>

{{ end }}
