<!-- TODO get image and permalink from page, use to render image and link to page -->
<!-- TODO set a default caption as the image title (but be able to overwrite) -->
<!-- TODO get alt text from page -->
{{- $page := site.GetPage (printf "photo/%s" (.Get "img") | printf "%s") }}
{{- $image := $page.Resources.Get $page.Params.image }}
<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
	<a href="{{ $page.RelPermalink }}"
   	 {{- with .Get "name" }} name="{{ . }}" {{ end -}}
    >
	<img src="{{ $image.RelPermalink }}"
		 {{- if or $page.Params.title (.Get "caption") }}
         title="{{ with (.Get "caption") | markdownify | plainify  }}{{ . }}{{ else }}{{ $page.Params.title }}{{ end }}"
         {{- end -}}
		 {{- if or $page.Params.alt (.Get "caption") }}
         alt="{{ with $page.Params.alt }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
         {{- end }}
		 height="{{ $image.Height }}"
		 width="{{ $image.Width }}"
		 {{- with .Get "loading" | default "lazy" }} loading="{{ . }}" {{ end -}}
		 {{- with .Get "fetchpriority" | default "auto" }} fetchpriority="{{ . }}" {{ end -}}
    /> <!-- Closing img tag -->
    </a>
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
	</figure>
